/* ==========================================================================
   Settings Page
   ========================================================================== */
#wp_enqueuer_settings_page ul{
  list-style-type: disc;
  list-style-position: inside;
  padding: 0px;
  margin: 0px;
}

/* 
   Tabs
   ========================================================================== */
#wp_enqueuer_tabs{
  margin: 20px 0;
}
#wp_enqueuer_tabs.r-tabs {
  position: relative;
}

#wp_enqueuer_tabs.r-tabs .r-tabs-nav {
  border-bottom: 1px solid #ccc;
}

#wp_enqueuer_tabs.r-tabs .r-tabs-nav .r-tabs-tab {
  position: relative;
  top: 1px;
}

#wp_enqueuer_tabs.r-tabs .r-tabs-nav .r-tabs-anchor {
  margin-bottom: 3px;
  padding: 10px 12px;
  display: inline-block;
  text-decoration: none;
  color: #777;
  font-weight: bold;
}

#wp_enqueuer_tabs.r-tabs .r-tabs-nav .r-tabs-state-active {
  background-color: #fff;
  margin-bottom: -1px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

#wp_enqueuer_tabs.r-tabs .r-tabs-nav .r-tabs-state-disabled {
  opacity: 0.5;
}

#wp_enqueuer_tabs.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
  background-color: #fff;
}

#wp_enqueuer_tabs.r-tabs .r-tabs-panel {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin-bottom: 3px;
  background: #fff;
}

#wp_enqueuer_tabs.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
  display: block;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 3px;
  color: #000;
  font-size: 18px;
  background: #ccc;
}

#wp_enqueuer_tabs.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
  opacity: 0.5;
}

#wp_enqueuer_tabs.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
  background-color: #ddd;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin-bottom: 0;
}
#wp_enqueuer_tabs.r-tabs .r-tabs-state-default{
  background: #ddd;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin-bottom: 0;
}

/* 
   TABLE
   ========================================================================== */
#wp_enqueuer_settings_page .dataTables_wrapper .dataTables_paginate a{
  display: inline-block;
  padding: 5px 10px;
}

#wp_enqueuer_settings_page .dataTables_wrapper .dataTables_paginate a.paginate_button:active,
#wp_enqueuer_settings_page .dataTables_wrapper .dataTables_paginate a.paginate_button:hover,
#wp_enqueuer_settings_page .dataTables_wrapper .dataTables_paginate a.paginate_button:focus{
  background: #2EA2CC;
  color: #fff;
}

#wp_enqueuer_settings_page .dataTables_wrapper .dataTables_paginate span a.paginate_active{
  background: #999999;
  color: #fff;
}